/**
 * Put below your own bootstrap variables
 *
 * Bootstrap variables list: https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss
 * Set your own theme: https://pikock.github.io/bootstrap-magic/app/index.html#!/editor
 */

// Small tablets and large smartphones (landscape view)
$breakpoint-sm: 576px;
// Small tablets (portrait view)
$breakpoint-md: 768px;
// Tablets and small desktops
$breakpoint-lg: 992px;
// Large tablets and desktops
$breakpoint-xl: 1200px;